* {
    box-sizing: border-box;
}

.container {
    margin-bottom: 50px;
}
body {
    margin: 0;
    padding: 0;
}

.page-footer {
    background-color: #05728f;
}
.chat {
    display: flex;
    flex-direction: row;
    height: 85vh;
    margin-top: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 0 20em;
    width: 30%;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 10 0 20em;
    width: 70%;
}

.message-list {
    border: 1px solid #c4c4c4;
    flex: 1;
    background: white none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 100%;
    border-right: 1px solid #c4c4c4;
    overflow-y: scroll;
}

.message-form {
    flex: 1;
    max-height: 70px;
    background-color: #009688;
}

.user-info {
    flex: 1;
    max-height: 125px;
    background-color: white;
    border: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    align-items: center;
    text-align: left;
}

.friends-list {
    flex: 1;
    border: 1px solid #c4c4c4;
    background: white none repeat scroll 0 0;
    text-align: center;
}

.friends-list h4 {
    margin-top: 3px;
}

.user span a {
    font-size: 17px;
    float: left;
    color: #05728f;
}

.user {
    border-bottom: 1px dashed #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    width: 100%;
    min-height: 7%;
    background: #ffffff;
    align-items: center;
    text-align: left;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
    color: #05728f;
    margin-bottom: 10px;
}

.buttons_bar {
    color: #11898f;
    margin-bottom: 5px;
}
.buttons_bar  i {
    margin: 3px;
    cursor: pointer;
    font-size: 17px;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: 5px;
}

.chat_ib {
    align-self: center;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    width: 100%;
    min-height: 10%;
    background: #f8f8f8;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.add-comment, .read, .unread {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.comment_list {
    border-bottom: 1px dashed #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    width: 100%;
    min-height: 10%;
    background: #ffffff;
}

.comment_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.comment_ib h5 span {
    font-size: 13px;
    float: right;
    color: #05728f;
    margin-bottom: 5px;
}

.comment_ib h5 span i {
    font-size: 20px;
    margin: 3px;
    color: #05728f;
}

.comment_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
}

.comment_ib {
    align-self: right;
    padding: 0 0 0 15px;
    width: 88%;
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background-color: #05728f;
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.msg_send_btn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 450px;
}

.scrollable_message {
    overflow-y: scroll;
    overflow-x: hidden;
}

.password_form, .edit_form {
    margin-top: 50px;
}

.user-messages {
    max-height: 44vh;

}
