{% extends 'tweet/base.html' %}
{% block nav %}
    {% include 'tweet/navbar.html' %}
{% endblock %}
{% block title %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="edit_form">
                <h4>Edit Your Profile</h4>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-outline-success pull-right" type="submit">Save changes</button>
                    <a href="{% url "user_profile" user.id %}"><button class="btn btn-outline-info pull-left">Back to Profile</button></a>
                </form>
            </div>

        </div>
    </div>

{% endblock %}