{% extends 'tweet/base.html' %}
<script>
    {% block jquery %}
        var endpoint = 'api/charts/';
        var defaultData = [];
        var messagesData = [];
        var labels = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                labels = data.labels;
                defaultData = data.all;
                messagesData = data.user;
                setChart()
            },
            error: function (error_data) {
                console.log("error");
                console.log(error_data)
            }
        });
        function setChart() {
            var ctx = document.getElementById("myChart");
            var ctx2 = document.getElementById("myChart2");
            var myChart = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'All messages last 7 days',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Your activity last 7 days',
                        data: messagesData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    {% endblock %}
</script>
{% block nav %}
    {% include 'tweet/navbar.html' %}
{% endblock %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">

                <div class="card hovercard">
                    <div class="cardheader">

                    </div>
                    <div class="avatar">
                        {% if user_profile.image %}
                            <img alt="" src="{{ user_profile.image.url }}">
                        {% else %}
                        <img alt=""
                             src="https://cdn3.iconfinder.com/data/icons/smileys-people-smiley-essential/48/v-35-512.png">
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="title">
                            {{ user_profile.first_name }} {{ user_profile.last_name }}
                        </div>
                        <div class="desc">Username: {{ user_profile.username }}</div>
                        <div class="desc">Mail: {{ user_profile.email }}</div>
                        <div class="desc">Messages Sent: {{ msg }}</div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm"
                           {% if user_profile.twitter == "" or user_profile.twitter is None %}href="#"
                           {% else %}href="{{ user_profile.twitter }}" target="_blank"{% endif %}>
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           {% if user_profile.google == "" or user_profile.google is None %}href="#"
                           {% else %}href="{{ user_profile.google }}" target="_blank"{% endif %}>
                            <i class="fab fa-google-plus"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher"
                           {% if user_profile.facebook == "" or user_profile.facebook is None %}href="#"
                           {% else %}href="{{ user_profile.facebook }}" target="_blank"{% endif %}>
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher"
                           {% if user_profile.behance == "" or user_profile.behance is None %}href="#"
                           {% else %}href="{{ user_profile.behance }}" target="_blank"{% endif %}>
                            <i class="fab fa-behance"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row>">
            <a href="{% url "change_password" %}">
                <button class="btn btn-outline-info" type="button">Change Password</button>
            </a>
            <a href="{% url "edit_profile" user_profile.id %}">
                <button class="btn btn-outline-info" type="button">Edit Profile</button>
            </a>
            <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target=".multi-collapse"
                    aria-expanded="false"
                    aria-controls="{% for msg in msgs %} msg-{{ msg.id }} {% endfor %}">My Messages
            </button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if not msgs %}
                You don't have any posts yet. Go to All Messages page and write somethig.
            {% endif %}
        </div>
        <div class="user-messages scrollable_message">
        {% for msg in msgs %}
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="msg-{{ msg.id }}">
                        <div class="card card-body">
                            <div class="chat_ib">
                                <h5>
                                    <span class="chat_date">{{ msg.creation_date }}</span>
                                </h5>
                                <p>{{ msg.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class='row'>
            <h3 style="margin: 0 auto">Last 7 Days Statistics</h3>
            <div class='col-sm-12' url-endpoint='{% url "data_charts" %}'>
                <div class='col-sm-6'>
                    <canvas id="myChart" width="100px" height="50px"></canvas>
                </div>
                <div class='col-sm-6'>
                    <canvas id="myChart2" width="100px" height="50px"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}